.blog-post-card {
    background: floralwhite;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    text-align: center;
    /* Round corners.*/
    border-radius: 10px;
}
.post-img {
    width: 80%;
    height: 80%;
    display: block;
    padding-top: 4em;
    border-bottom: 6px solid goldenrod;
    margin: 0 auto;
}
.post-content {
    padding: 10px;
    margin: 0 auto;
}
.read-more:hover {
    color: floralwhite;
    text-decoration: underline;
}
.read-more {
    color: goldenrod;
    background-color: #55680D;
    margin: 0 auto;
    display: inline-block;
    border-radius: 10px;
    padding: 10px;
    transition: color 0.3s ease-in-out;
    font-weight: bold;
    cursor: pointer;
    font-size: large;
}
.post-title {
    margin: 20px;
    color: black;
    font-weight: bold;
    font-size: 60px;
    line-height: 60px;

}
.post-excerpt {
    margin: 10px;
    color: black;
    font-weight: normal;
    font-size: 30px;
    list-style: inherit;

}