
body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 20px;
    color: #333;
}
header {
    font-size: large;
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", sans-serif;
    text-align: center;
    position: relative;
    padding-bottom: 2em;
}
ul.todo-list {
    list-style: none;
    padding: 0;
    max-width: 400px;
    margin: auto;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

ul.todo-list li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 16px;
    border-bottom: 1px solid #eee;
}

ul.todo-list li:last-child {
    border-bottom: none;
}

label {
    font-size: 16px;
    cursor: pointer;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Lucida Sans", "Noto Sans", sans-serif;
}

input[type="checkbox"] {
    margin-left: 10px;
    transform: scale(1.2);
    cursor: pointer;
    align-items: center;
}

ul.sub-item {
    list-style: none;
    margin: 8px 0 0 20px;
    padding: 0;
}

.sub-item-link {
    text-decoration: none;
    color: #007bff;
    font-size: 14px;
}

.sub-item-link:hover {
    text-decoration: underline;
    color: #0056b3;
}
.sub-item-link:active {
    color: #356eaf;
}
.sub-item-link:focus {
    color: #888989;
}